:root{
  --color1: rgb(219,144,.5);
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11,194,211, 0.623);
  --fondo: #fff;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: var(--fondo);
  
}

.body {
  overflow: hidden;
}

img{
  vertical-align: top;
}


/* Preloader */


  
.centrado{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Header */

/*Fondo*/
header{
  width: 100%;
  float: center;
  height: 300px;
  background-color: 	rgb(0, 28, 40);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /*Fondo*/
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background: rgba(0,12,18,0.84);
    height: 80px;
    color: whitesmoke;
   
    z-index: 40;
}

/*Color del navegador*/



/*Hasta Aqui*/

.contenedor-nav{
  display: flex;
  margin-left: 50%;
  width: 100%;
  position: absolute;
  align-items: center;
  max-width:3000px;
  height:inherit;
  z-index: 40;
  
  
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
  z-index: 50;
  
}



.enlaces {
  margin-left: -230px;
  overflow: hidden;
  z-index: 50;
}



.logo, .logo img{ height:80px;}

.logo img {
  margin-left: -500px ;
  overflow: hidden;
  
}

.logo img:hover {
  -webkit-transform:scale(1.3);transform:scale(1.3);
}

.bloqueo{
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 120;
 }

.pie img{
  width: 50px;
  height: 30px;
  margin-top: 23px;
  margin-left: -235px;
  opacity: 0;
  
  filter:  alpha(opacity=100);
}

.pie img{
  width: 50px;
  margin-top: 45px;
  opacity: 0.7;
  filter:  alpha(opacity=100);

}

.nomobile{
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 120;
}

.pie2 img {
  margin-left: -170px;
  margin-top: 23px;
  height: 30px;
  width: 60px ;
  opacity: 0;
  filter:  alpha(opacity=100);
}

.pie2 img:hover{
  width: 50px;
 margin-top: 45px;
 margin-left: -165px;
 opacity: 0.3;
  filter:  alpha(opacity=100);
}

.quieto{
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 120;
}

.pie3 img {
  width: 95px;
  height: 30px;
  margin-left: -95px;
  margin-top: 23px;
  z-index: 120;
  opacity: 0;
  filter:  alpha(opacity=100);
}

.pie3 img:hover{
  width: 50px;
 margin-top: 45px;
 margin-left: -70px;
 opacity: 0.3;
  filter:  alpha(opacity=100);
}

.moltquiet {
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 160;
}

.pie4 img{
  width: 85px;
  height: 30px;
  margin-left: 18px;
  margin-top: 23px;
  z-index: 120;
  opacity: 0;
  filter:  alpha(opacity=100);
}

.pie4 img:hover{
  width: 50px;
  margin-top: 45px;
  margin-left: 35px;
  opacity: 0.3;
   filter:  alpha(opacity=100);
}



.parat2 {
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 130;
}

.pie5 img {
  width: 90px;
  height: 30px;
  margin-left: 120px;
  margin-top: 23px;
  z-index: 130;
  opacity: 0;
  filter:  alpha(opacity=100);
}

.pie5 img:hover{
  width: 50px;
  margin-top: 45px;
  margin-left:140px;
  opacity: 0.3;
   filter:  alpha(opacity=100);
}

.bouge-pas{
  margin-left: 50%;
  display: block;
  position: absolute;
  z-index: 120;
}

.pie6 img{
  width: 70px;
  height: 30px;
  margin-left: 225px;
  margin-top: 23px;
  z-index: 1201;
  opacity: 0;
  filter:  alpha(opacity=100);
}

.pie6 img:hover{
  width: 50px;
  margin-top: 45px;
  margin-left:237px;
  opacity: 0.3;
   filter:  alpha(opacity=100);
}



/* Main */


/*Fondo cuerpo*/

.cuerpo {
background: rgb(0, 28, 40);
height: 100%; /*Alargar fondo*/
width: 100%;
}


.textos{
  width: 100%;
  height: 125%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* Cuerpo de section*/

.actualidad {
  width: 100%;
  height: 145px;
  display: flex;
  background-image: url(img/estrellas.jpg);
  justify-content: center;
  overflow: hidden;
}

.banner{
 margin-left: 50%;
 display: block;
 position: absolute;
 


}

.sol img{
  margin-top:-125px ;
  display: flex;
  overflow: hidden;
  margin-left: -400px;
}

.sol img:hover{
filter: sepia(80%);

}


.brawl img{
  width: 250px;
  margin-top: -150px;
  margin-left: -270px;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.brawl img:hover{
  filter: sepia(80%);
   }

.clash img{
  width: 450px ;
  margin-top: -212px;
  margin-left: -108px;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clash img:hover{
  filter: sepia(80%);
   }

.competi img{
  width: 210px;
  margin-top: -193px; 
  margin-left: 260px; 
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.competi img:hover{
  filter: sepia(80%);
   }

.separacion {
  margin-top: 100px;

}

.encabezado{
  background: rgb(84, 116, 138);
  width: 550px;
  height: 50px;
  margin-top: 20px;
  }
  
  .subtitulo h1{
    color: whitesmoke;
    margin-top: -56px;
    margin-left: 140px;
    font-size: 30px;
    font-family: harvest;
    text-shadow: 0px 2px 2px rgba(0,0,0, .4);
    font-weight: lighter;
  }
  
  
  .explicacion p{
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .encabezado3 {
    background: rgb(84, 116, 138);
    width: 550px;
    height: 50px;
    margin-top: 100px;  
    }
    
    .subtitulo2 h1{
      color: whitesmoke;
      font-size: 30px;
      font-family: harvest;
      text-shadow: 0px 2px 2px rgba(0,0,0, .4);
      margin-top: -55px;
      margin-left: 220px;
      font-weight: lighter;
    }
    .subtitulo3 h1{
      color: whitesmoke;
      font-size: 30px;
      font-family: harvest;
      text-shadow: 0px 2px 2px rgba(0,0,0, .4);
      margin-top: -55px;
      margin-left: 120px;
      font-weight: lighter;
    }
    
    .explicacion2 p{
      color: whitesmoke;
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 200px;
      font-family: serif;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
    }

















/* Footer */



footer {
  
  background:rgb(0,12,18);
  color: whitesmoke;
  width: 100%;

}

.footer-all {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  margin: auto;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

/*columna 1 del footer*/

.colum1 {
  max-width: 400px;
 
}

.colum1 h1 {
  font-size: 22px;
  color: whitesmoke;
}

.colum1 p {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 30px;
}

.colum1 img {
  width: 110px;
  height: 80px;
  margin-top: 25px;
  margin-left: 95px;
}
.colum2 {
  max-width: 400px;
  margin-left: 0px;
  
  
}

.colum2 h1 {
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: whitesmoke;
  font-size: 19px;
}

.colum3 {
  max-width: 400px;
  

}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
  
}



.footer {
 width: 100%;

 background: rgb(0,0,1);
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px ;
  
}
.copyright {
  color:rgb(184, 184, 184);
  margin-left: 20px;
  margin-top: 20px;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.information {
  color: rgb(184, 184, 184);
  margin-left: 200;
  margin-right: 30px;
  margin-top: 20px;
}

.information a {
 text-decoration: none;
 font-weight: bolder;
 color: white;

}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1{
    max-width: 100%;
  }
  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}

